.navbar{
   
    background-color:#FADCD9 ;
    height: 30px;
    margin: auto;
    padding: auto;
   
   
}


.navbar i{
    opacity: 0.7;
    margin-left: 1rem;
    color: black;
  
}
.navbar i:hover{
  opacity: 3;
  color: white;
}
h1{
   
    text-align:justify;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D");
   
    background-size: cover;
    
}
.navbar a{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
text-align: center;
    padding: 14px 16px;
  
}
.navbar a:hover{
    color:white;
}
button{
  color: wheat;
  background-color: black;
}
button:hover{
    background-color:  #F8AFA6;
    color: black;
}
   